<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/css/all.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html">
                <img src="../image/logo.png " alt="" width="230" ></a>
            <div class="nav-links" id="navlinks">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">CARRERS</a></li>
                    <li><a href="">NEWS & EVENT</a></li>
                    <li><a href="">ACADEMIC</a></li>
                    <li><a href="">OUR TEAM</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>The Top Software Company</h1>
            <p>The software company is lead program carrier in it field.software has become the back bone of our economy.<br>from large enterprises to small business,</p>
            <a href="#">visit use to more know</a>
            </div>
    </section>
    <section class="course">
        <h1>our course offers</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="course-col">
                
                <div class="course-title">
                    <i class="fa-brands fa-python"></i>
                    <h3>python developer kamal khadka </div></h3><hr>
                    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero modi reiciendis amet adipisci, neque dolores? Ut iste nihil saepe harum debitis enim, molestias vel expedita vero fuga temporibus numquam.</p>
                <button class="btn1"><a href="">see more...</a> </button>
            </div>

            <div class="course-col">
               <div class="course-title">
                 <i class="fa-brands fa-java"></i>
                <h3>java developer kamal khadka    </div></h3><hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero modi reiciendis amet adipisci, neque dolores? Ut iste nihil saepe harum debitis enim, molestias vel expedita vero fuga temporibus numquam.</p>
                <button class="btn1"><a href="">see more...</a> </button>
            </div>

            <div class="course-col">
                <div class="course-title">
                    <i class="fa-brands fa-battle-net"></i>
                    <h3>netcentric developer kamal khadka    </div></h3><hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero modi reiciendis amet adipisci, neque dolores? Ut iste nihil saepe harum debitis enim, molestias vel expedita vero fuga temporibus numquam.</p>
                <button class="btn1"><a href="">see more...</a></button>
            </div>
        </div>
    </section>
    <!---our company globallized-->
    <section class="company">
        <h1>international company</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div class="company-col">
                <img src="../image/london.jpg" alt="">
                <div class="layer">
                    <h3>LONDON</h3>
                </div>
            </div>

            <div class="company-col">
                <img src="../image/aus.jpg" alt="">
                <div class="layer">
                    <h3>AUSTRILIYA</h3>
                </div>
            </div>

            <div class="company-col">
                <img src="../image/us.jpg" alt="">
                <div class="layer">
                    <h3>NEW YORK</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="card">
        <h1>Our facilities</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, dolor. Soluta earum minima aliquid.</p>
        <div class="row">
            <div class="card-col">
                <img src="../image/res.png" alt="">
                <h3>Get responsive digital plate form</h3>
                <p>WE are providing responsive digital platform like website software.A website is a collection of web pages and related content that is identified by a common domain name and published on at least one web server. </p>
            </div>
            <div class="card-col">
                    <img src="../image/Dynamic.png" alt="">
                    <h3>Get responsive digital plate form</h3>
                    <p>WE are providing responsive digital platform like website software.A website is a collection of web pages and related content that is identified by a common domain name and published on at least one web server. </p>
            </div>

            
                <div class="card-col">
                    <img src="../image/sevice.jpg" alt="">
                    <h3>Get responsive digital plate form</h3>
                    <p>WE are providing responsive digital platform like website software.A website is a collection of web pages and related content that is identified by a common domain name and published on at least one web server. </p>
            </div>
        </div>
    </section>
    <section class="student">
        <div class="testimonials">
            <h1>What our clint says</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <div class="row">
                <div class="testimonials-col">
                    <img src="../image/qws.png.jpg" alt="">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam in voluptates dolor iste assumenda unde iure totam reiciendis.</p>
                        <h3>kamal khadka</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="testimonials-col">
                    <img src="../image/ups.jpg" alt="">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam in voluptates dolor iste assumenda unde iure totam reiciendis.</p>
                        <h3>kamal khadka</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="ft">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h3>Contact Details</h3>
                <ul>
                    <li><i class="fa-solid fa-house-medical"></i>Delta software</li>
                    <li><i class="fa-solid fa-location-dot"></i>Ghorahi-15, Dang</li>
                    <li><i class="fa-solid fa-phone-volume"></i>9745365052</li>
                    <li><i class="fa-solid fa-mobile-retro"></i>086-563545</li>
                    <li><a href="mailto:"><i class="fa-solid fa-message"></i>khadkakamal5052@gmail.com</a> </li>

                </ul>
            </div>
            <div class="footer-col">
                <h3>our facility</h3>
                <ul>
              <li><i class="fa-solid fa-angles-right"></i>java development</li>
              <li><i class="fa-solid fa-angles-right"></i>python development</li>
              <li><i class="fa-solid fa-angles-right"></i>netcentric development</li>
              <li><i class="fa-solid fa-angles-right"></i>laravel development</li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>follow us on</h3>
               <a href=""><i class="fa-brands fa-facebook"></i></a>
               <a href=""><i class="fa-brands fa-twitter"></i></a>
               <a href=""><i class="fa-brands fa-youtube"></i></a>
               <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="footer-col">
                <h3>our Gallery</h3>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <h3>@copy2080 Designed by kamal khadka <i class="fa-regular fa-heart"></i>.all right reserved</h3>
    </div>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>